lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.7z
*.map
*.js

pids
logs
results
uploads

# Ignore project and IDE specific stuff
.idea
npm-debug.log
docs

# Ignore test scripts
src/test*

# Ignore node modules
node_modules/*